html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color:rgb(236, 238, 241);
}

nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

nav > div {
  position: absolute;
  top: 0;
  right: 50px;
  display: flex;
  flex-direction: row;
}

main > button {
  position: fixed;
  bottom: 0;
  right: 50px;
  background-color: rgb(107, 108, 114);
  height: 40px;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

nav > div > button {
  width: 100px;
  background-color: rgb(0, 119, 197);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 12px;
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

nav > div > div {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: rgb(0, 119, 197);
}

main {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(169, 179, 188);
  text-align: center;
  width: 100%;
  margin-bottom: 70px;
}

form > div {
  padding: 5%;
}

form > div > div > label {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

input {
  height: 30px;
  border: 1px solid rgb(169, 179, 188);
  border-radius: 5px;
  outline: none;
}

.phon-desc {
  font-size: small;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}

form > div > div > button {
  width: 100%;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  height: 40px;
  background-color: rgb(0, 119, 197);
  border: none;
  color: rgb(255, 255, 255);
}

.terms {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

main > div > div {
  background-color: rgb(236, 238, 241);
  width: 100%;
  padding: 5%;
}

.text-12 {
  font-size: 12px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > p {
  text-align: center;
  font-size: 12px;
  width: 60%;
}
.intuit-logo-pic {
  width: 50%;
  height: 50px;
}
main > div > div > div > ul > li > span > img {
  width: 30px;
  height: 30px;
}
main > div > div > div > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 1px;
 }

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  font-size: 20px;
}

.intuit-logo-div {
  width: 100%;
  text-align: center;
}

.form-footer {
  background-color: rgb(236, 238, 241);
}
